<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="/style.css" rel="stylesheet"> <!-- bundled stylesheets -->
  <link href="/static/marx.css" rel="stylesheet"> <!-- static stylesheets -->
  <link href="/static/staticCSS.css" rel="stylesheet">
</head>
<body>
<main>
  <section class="frommd">
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </section>

  <p>This part is from <code>base.njk</code></p>

  <h3>Fetched data</h3>
  <p>
    from <code>_data/fetched.js</code>
  </p>
  <blockquote>
    {{ fetched.insult }}
  </blockquote>

  <h2>Templates and components</h2>
  <p>
    {% renderTemplate "webc" %}
      <goback webc:nokeep txt="You can use WebC component in nunjucks or liquid templates"></goback>
    {% endrenderTemplate %}
  </p>
  <pre>
    <code>
      {% raw %}
        {% renderTemplate "webc" %}
            your webC component goes here
        {% endrenderTemplate %}
      {% endraw %}
      </code>
  </pre>

  <p>
    Include templates from parts
    <!--dependency for alpinejs-->
    <script src="//unpkg.com/alpinejs" defer></script>
  </p>
  {# manualy set variables #}
  {% set startcount = 100 %}
  {% include "parts/counter.html" %}

  {% set startcount = 5 %}
  {% include "parts/counter.html" %}

  {% set startcount = -100 %}
  {% include "parts/counter.html" %}


</main>
<script src="/script.js"></script>
</body>
</html>