---
permalink: style.css
layout: ""
---
{# just add css files to bundle in the list #}
{% set css %}
    {% include "./reset.css" %}
    {% include "./one.css" %}
    {% include "./two.css" %}
{% endset %}
{{ css | cssmin | safe }}