/**
 you can have CSS whereever you want
 Just add the files you want to bundle in the cssBundler.njk file.
*/

p{
    margin: 1em;
    padding: 1em;
    color: darkslateblue;
}

.frommd{
    background-color: antiquewhite;
}