---
pagination:
    data: aTable
    size: 1
    alias: person
permalink: "person-{{ pagination.pageNumber }}/"
---
<h1>Person {{ pagination.pageNumber }} {{ person.name }}</h1>
<p>
    {% if pagination.pageNumber > 0 %}
        <a href="/person-{{ pagination.pageNumber - 1 }}">Prev</a>
    {% endif %}

    {{ person.name }} is {{ person.age }} years old

    {% if aTable|length - 1 > pagination.pageNumber %}
        <a href="/person-{{ pagination.pageNumber + 1 }}">Next</a>
    {% endif %}

</p>
